.text-reset {
  line-height: 1;
  text-indent: 0;
  letter-spacing: 0;
}

.text-height-reset {
  line-height: 1;
}

.text-indent-reset {
  text-indent: 0;
}

.text-spacing-reset {
  letter-spacing: 0;
}

.truncate-multi-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
